<div class="container mt-5">
    <div class="alert alert-success text-center p-4 col-md-6 mx-auto">
        <h4>Başvurunuz alınmıştır!</h4>
        <p>Admin onayladıktan sonra giriş yapabileceksiniz.</p>
        <a href="/Account/ChooseLogin" class="btn btn-primary mt-3">Giriş Sayfasına Dön</a>
    </div>
</div>
